<% provide(:title,"It's 5 O'Clock Here") %>

<div id="mainDiv" class="container">

  <h1 id="headerOne" class="text-center"> It's <span id="time"><%= @time_hash[:time] %></span> in <br/>
   <span id="place"><%= @time_hash[:place] %></span>  </h1>
  <h2 id= "headerTwo" class="text-center">Enjoy <span class="drink"><%= @time_hash[:drink] %> </span></h2>
  <div class="social">
    <%= render_shareable :buttons=> ['twitter', 'facebook','google_plus'] %>
  </div>
</div>
